.page_05{
    font-family:Bebas Neue,sans-serif;
    background-color:#EBF0F0;
    width: 100%;
    .header{
       width: 100%;
       height:40%;
       display:grid;
       div{
        background-color:#3787C8;
         position: relative;
         top: 20%;
         left: 10%;
         width:100px;
         height:100px;
         border-radius: 50%;
       }
      .header__01{color:black; 
        position: relative;
        bottom: 78%;
        left: 13%; 
      } 
      .header__02{color: rgba(255, 255, 255, 0); 
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgb(57, 55, 55);
        position: relative;
        bottom:120%;
        left: 13%; 
      } 
    }
    .content{
      width: 100%;
      height:40%;
      display: flex;
    div{
      width:50%;
      height: 100%;
      img{
        width: 70%;
        height:100% ;
        position: relative;
        left: 20%;
      }
      p{text-align:start;
        height: 100%;
        width: 60%;
        padding: 2%;
      }
      span{
        position: relative;
        bottom: 60%;
        left: 2%;
      }
      hr{
        color: rgb(244, 76, 15);
        width: 60px;
        position: relative;
        bottom: 66%;
        right: 26%;
      }
      h2{
        position: relative;
        left: 2%;
      }
    }
    }
    .footer{
      width: 100%;
      height:20%;
      text-align: center;
      button{
        font-size: 12px;
        width: 10%;
        height: 30%;
        position: relative;
        top: 30%;
        border: 1px orange solid;
      }
    }
  }
  