
.page_06{
    width: 100%;
    height: 100vh;
    background-color:white;
    .header{
      width: 100%;
      height:30%;
      div{
        position: relative;
        left: 40%;
        top: 50%;
        width: 3.5%;
        height: 27%;
        background-color:#3787C8;
        border-radius: 50%;
      }
    }
  
    .content{
      width: 100%;
      height: 40%;
      display: flex;
      .hh1{
        width: 10%;
        font-size: 25px;
        position: relative;
        left: 20%;
        text-align: center;
      }
      .hh2{
        width: 10%;
        font-size: 25px;
        position: relative;
        left: 35%;
        text-align: center;
      }
      .hh3{
        width: 10%;
        font-size: 25px;
        position: relative;
        left: 50%;
        text-align: center;
        }
    }
  }
  
  
  