.page_01{
    width: 100%;
    background-color:#1D1B1C;
    .header{
      display: flex;
      margin:0;
      padding:0;
      height: 10vh;
      div{
        width: 16.666%;
        height: 100%;
        .img_01{
          width: 50%;
          height: 100%;
          position: relative;
          left:90%;
          top: 10%;
          margin: 5%;
          transform: rotate(340deg);
        }
        .h3_01{
          font-size: 15px;
          font-family: sans-serif;
          position: relative;
          left:80%;
          top: 15%;
          margin: 5%;
          color: white;
        }
        .h3_02{
          font-size: 15px;
          font-family: sans-serif;
          position: relative;
          left: 45%;
          top: 15%;
          margin: 5%;
          color: white;
        }
      
        .h3_03{
          font-size: 15px;
          font-family: sans-serif;
          position: relative;
          top: 15%;
          margin: 5%;
          color: white;
        }
        .h3_04{
          font-size: 15px;
          font-family: sans-serif;
          position: relative;
          right: 40%;
          top: 15%;
          margin: 5%;
          color: white;
        }
        .h3_05{
          font-size: 15px;
          font-family: sans-serif;
          position: relative;
          margin-left: 5%;
          margin-right: 5%;
          color: rgba(242, 77, 12, 0.773);
        }
        hr{
          color: rgba(242, 77, 12, 0.773);
          width: 30%;
          position: relative;
          top: 35%;
          right: 33%;      
          margin: 5%;
        }
      }
    }
    .content{
      width: 100%;
      height: 50%;
      text-align: center;
      font-family:Bebas Neue;
      h1{
        font-size: 200px;
        position: relative;
        right: 17%;
        bottom:40px;
        color: white;
      }
     h3{
      letter-spacing: normal;
      position:relative;
      bottom: 200px;
      right: 10%;
      color: white;
     } 
    }
    .footer{
      height:40% ;
      display: flex;
      .footer_01{
        height: 100%;
        width: 50%;
        position: relative;
        left: 18%;
        bottom:200px;
        color: white;
        font-family: sans-serif;
        font-size: 20px;
      }
      .footer_02{
        font-family: Bebas Neue;
        height: 100%;
        width: 50%;
        color: white;
        position: relative;
        left: 20%;
        bottom:200px;
        .footer__02__01{
          font-family: sans-serif;
          background-image: linear-gradient(to right, rgb(0, 153, 255) , rgb(255, 94, 0));
          width:100px;
          height:100px;
          border-radius: 50%;
          h5{
            position: relative;
            top: 30%;
            left: 20%;
            width: 300%;
          }
        }
        .footer__02__02{
          width: 30px;
          height:30px;
          position: relative;
          right: 69%;
          background-color:#DF4E31;
          text-align: center;
          div{
            width: 20px;
            height: 2px;
            position: relative;
            top: 45%;
            left: 15%;
            rotate:135deg;
            background-color: white;
          }
        }
      }
    }
  }
  