.page_04{
   font-family: sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:#232526;
    .heading_01{  
      background-color:#E14B32;
      width:100px;
      height:100px;
      border-radius: 50%;
      position: relative;
      left: 20%;
      margin-top: 1%;
      span{
        width:40%;
        font-size:30px;
        color: white;
        position: relative;
        left: 60%;
        top:15%;
      }
      h1{
     
        font-size:40px;
        color: white;
        position: relative;
        top:6%;
        left: 60%;
       
      }
    }
    
    .input_box_01{
        margin-top: 2%;
        margin-bottom: 1%;
        width: 100%;
        height: 100%;
        justify-content: center;
        display: flex;
        input{
          color: white;
          background-color: #232526;
          border: 0.1px rgb(122, 122, 122) solid;
            text-align: center;
            height:35px;
            width:15%;
            margin-left:3%;
            margin-right:3%;
        }
    }
    .input_box_02{
        width: 100%;
        height:100%;
        display:grid;
        input{
          text-align: center;
             background-color: #232526;
            border: 0.1px rgb(122, 122, 122) solid;
            margin-top: 5%;
            position: relative;
            margin-left: 20.8%;
            margin-right:21.3%;
            height:35px;
            width:57.9%;
            color: white;
        }
        .input_02{
          opacity: 2;
          height: 200px;
          border: 1px white dotted;
          background-color:#232526;
        }
    }
    .btn{
      border: 2px rgb(122,122,122) solid;
       margin-top: 1%;
      width: 10%;
      height: 40px;
      position: relative;
      left: 67%;
      background-color: #232526;
      color: white;
    }
  }
  