.page_07{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #EBF0F0;
    .header{
      width: 100%;
      height: 50%;
      img{
        width:60%;
        height: 80%;
        position: relative;
        left: 20%;
        right: 20%;
        top: 28%;
      }
    }
    .content{
      width: 100%;
      height:50%;
      display: flex;
     div{
      width: 50%;
      height: 100%;
     }
     .content_01{
       div{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: relative;
        top: 15%;
        left: 20%;
        background-color:#FAAF41;
       }
       h1{
        position: relative;
        left: 26%;
        font-family: sans-serif;
        font-size: 35px;
       }
     }  
      .content_02{
        font-family: sans-serif;
        p{
          text-align: left;
          width: 60%;
          padding-top: 110px;
          font-family: sans-serif;
        }
        hr{
          width: 100px;
          position: relative;
          right: 21%;
          bottom: 5%;
        }
      }
    }
  }
  